<!--Load and apply jquery with also a app.js file.-->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/jquery-3.1.1.min.js" charset="utf-8"></script>    
</body>
</html>
