<!--
<h2 class = "profile1">"BUDGET RECORD TRACKER EXPENSES"</h2>
<section class="insert">
    <h3>Insert Past/Present Bills, Expenses, etc.</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="amount">Amount</label>
            <input type="text" id="amount" name="amount">
        </div>
        <!-- <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div> -->
<!--        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h4>Get Past Bills</h4>
    <a href="/get-data">LOAD BILLS</a>
    <div>
            
<!--                 <% for(var i =0; i<bills.length; i++){ %>
                    <article class="item">
                        <p>Name: <%=bills[i].name%></p>
                        <p>Amount: <%=bills[i].amount%></p>
                    </article>
                <% } %>
    </div>
</section>
-->

</div>
    <form action="/delete" method="post">
        </div>
        <button type="submit">DELETE</button>
    </form>
    --> -->