<% include includes/headers.ejs %>

<div id="addIncomeContainer">
  <form id="addIncomeForm" action="/incomes/addincome" method="post">
    <ul class="form-style-1">
      <li> 
        <h5>Add Income</h5>
      </li>
      <li>
        <label>Name of Employee<span class="required">*</span></label>
        <input class="field-long" type="text" name="name_of_worker" placeholder="Daniel"/>
      </li>
      <li>
        <label>Company Name <span class="required">*</span></label>
        <input class="field-long" type="text" name="company_name" placeholder="Google"/>
      </li>
      <li>
        <label>Company Title <span class="required">*</span></label>
        <input class="field-long" type="text" name="company_title" placeholder="Software Engineer"/>
      </li>
      <li id="payPeriod">
        <label>Pay Period</label>
        <select class="payPeriodSelect field-select" name="pay_period">
          <option value="Yearly">Yearly</option>
          <option value="Monthly">Monthly</option>
          <option value="Weekly">Weekly</option>
          <option value="Hourly">Hourly</option>
        </select>
      </li>
      <li>
        <label> <span class="salaryTerm">Yearly  </span>Salary<span class="required">*</span></label>
        <input class="salary field-short" id="field5" type="text" name="yearly" placeholder="75000"/>
      </li>
      <li>
        <input type="submit" value="Submit"/>
      </li>
    </ul>
  </form>
</div>

<% include includes/footers.ejs %>
