<% include includes/headers.ejs %>

<div class="container text-center">

    <div class = "text-center">
        <h1 class = "title1" ><span class="fa fa-lock"></span>Budget Record Tracker</h1>
        <p id ='instructions'>Please Login or Register with to the following below:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>
</div>

  <div class ="bottom">

    <div><br>
    <br>About Us:</br>
    Here you can view your bill(s). Next, then enter something you recently purchased anywhere in the first box. Then, in the second item box, enter the amount you paid when you brought it anywhere. This is going to display how much money in the past and compare how much are you are going to spend again in months or years. 
    </div><br>

<% include includes/footers.ejs %>
