<!doctype html>
<html>
<head>
    <title>Budget Record Tracker</title>
    <meta charset="utf-8">
    <!--This is to load and help with normalize the webpage stylesheet -->   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
   <!--This is to load Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 

    <!-- Fonts and Font-Awesomeness and CSS from Bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <!--This is to load CSS styles in the public folder-->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body class="img3">
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
<!--Load and apply jquery with also a app.js file.-->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
