<% include includes/headers.ejs %>

<body class="img2">
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page for your Budget Records</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

<!--
<h2 class = "profile1">"BUDGET RECORD TRACKER EXPENSES"</h2>
<section class="insert">
    <h3>Insert Past/Present Bills, Expenses, etc.</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="amount">Amount</label>
            <input type="text" id="amount" name="amount">
        </div>
        <!-- <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div> -->
<!--        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h4>Get Past Bills</h4>
    <a href="/get-data">LOAD BILLS</a>
    <div>
            
                <% for(var i =0; i<bills.length; i++){ %>
                    <article class="item">
                        <p>Name: <%=bills[i].name%></p>
                        <p>Amount: <%=bills[i].amount%></p>
                    </article>
                <% } %>
    </div>
</section>
-->
</div>
    <form action="/delete" method="post">
        </div>
        <button type="submit">DELETE</button>
    </form>
    -->
<div class="container">
    <h1>"BUDGET RECORD TRACKER EXPENSES"</h1>
<div id="wrapper">
  <div id="expense-container">
    <button id="goToExpense">Add Expense</button>
    <button id="goToIncome">Add Income</button>
    <div id="expenseList">
      <table class="table-bordered expenses-table">
        <thead>
          <th id="expenseHead">Name</th>
          <th id="expenseHead">Company</th>
          <th id="expenseHead">Type</th>
          <th id="expenseHead">Monthly Cost</th>
          <th id="expenseHead">Day of Month</th>
          <th id="expenseHead">Delete</th>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <th scope="row">Total Expense
              <td> </td>
              <td></td>
              <td id="totalFeeMonthly"></td>
              <td></td>
              <td></td>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="incomeContainer">
    <div id="incomeList">
      <table class="table-bordered incomes-table">
        <thead>
          <th id="incomeHead">Employee</th>
          <th id="incomeHead">Company</th>
          <th id="incomeHead">Title</th>
          <th id="incomeHead">Hours Per Week</th>
          <th id="incomeHead">Hourly Pay</th>
          <th id="incomeHead">Weekly Pay</th>
          <th id="incomeHead">Monthly Pay</th>
          <th id="incomeHead">Yearly Pay</th>
          <th id="incomeHead">Delete</th>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <th scope="row">After Tax
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="totalIncomeWeeklyAfterTax"></td>
              <td id="totalIncomeMonthlyAfterTax"></td>
              <td id="totalIncomeYearlyAfterTax"></td>
              <td></td>
            </th>
          </tr>
        </tfoot>
        <tfoot>
          <tr>
            <th scope="row">Total Income
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="totalIncomeWeekly"></td>
              <td id="totalIncomeMonthly"></td>
              <td id="totalIncomeYearly"></td>
              <td></td>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
 </div>









</div>
</body>
<% include includes/footers.ejs %>
