body{
 	padding-top:80px; 
 	word-wrap:break-word;
 }

.title1{
	font-size: 50px;
}

.text-center{
	background-color: rgba(0,255,0,0.3);
	border: 10px solid black;

}
#instructions{
	font-size: 30px;

}

.img1 {
	background-image: url(../images/pic1.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.img2 {
	background-image: url(../images/pic4.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.img3 {
	background-image: url(../images/pic7.png); 
    background-repeat: none;
    height: 300px;
    width : 500px;
    background-position: center; 

}

.img4 {
	background-image: url(../images/pic2.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}