body{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 	padding-top:80px; 
 	word-wrap:break-word;
 }
.bottom{
	font-size: 25px;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: bold;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 30px;
	background: rgba(255, 0, 0, 0.5);

}

.profile1{
	font-size: 40px;
	font-weight: bold;
}

.title1{
	font-size: 50px;
	font-weight: bold;
}

.text-center{
	background-color: rgba(0,255,0,0.5);

}
#instructions{
	font-size: 30px;

}

.img1 {
	background-image: url(../images/pic1.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.img2 {
	background-image: url(../images/pic4.jpg); 
}

.img3 {
	background-image: url(../images/pic7.png); 
    background-repeat: none;
    height: 300px;
    width : 500px;
    background-position: center; 

}

.img4 {
	background-image: url(../images/pic2.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
a {
  color: #00B7FF;
}

section {
  float: left;
  background: #bdc3c7;
  padding: 10px;
  margin: 30px;
  width: 300px;
  box-shadow: 3px 3px 1px #34495e;
  min-height: 400px;
}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h3 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.insert {
  background: #2ecc71;
}

.get {
  background: #ecf0f1;
}

.update {
  background: #3498db;
}

.delete {
  background: #e74c3c;
}

.input label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}

input,
button {
  font: inherit;
}

button {
  margin-top: 10px;
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  border-radius: 0;
  background: #ecf0f1;
  cursor: pointer;
}

button:hover {
  background: #bdc3c7;
}

h5{
  font-size:30px;
  font-weight: bolder;
}


.item {
  margin: 10px 0;
  padding: 5px;
  background: #95a5a6;
  border: 1px solid black;
}

/**/
.expenses-table{
    width: 100%;
}

.table-head{
    text-align: center;
}

#expense-container{
    position: relative;
    display: inline-block;
    width: 100%;
}

.addIncome{
    left: 60px;
    position: relative;
}

#goToIncome, #goToExpense{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

#goToIncome{
    position: relative;
    left: 2px;
}

#expenseList{
    position: relative;
    top: 7px;
}
/*
 The following block of form-style css was imported from sanwebe.com
*/
.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    height: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

table {
    border-collapse:collapse;
    margin-bottom:15px;
    width:100%;
}

table td,
table th{
    padding:5px;
    border:1px solid #fff;
    border-width:0 1px 1px 0;
}
    
thead th{
    background:#91c5d4;
}
        
thead th[colspan],
thead th[rowspan]{
        background:#66a9bd;
}
    
tbody th,
tfoot th{
    text-align:left;
    background:#91c5d4;
}
    
tbody td,
tfoot td{
    text-align:center;
    background:#d5eaf0;
}
    
tfoot th{
    background:#b0cc7f;
}
    
tfoot td{
    background:#d7e1c5;
    font-weight:bold;
}
        
tbody tr.odd td{ 
    background:#bcd9e1;
}

body{
    background-color: darkgrey;
}

#wrapper{
    position: relative;
    top: 30px;
}

#expenseHead, #incomeHead{
    text-align: center;
}