body{
 	padding-top:80px; 
 	word-wrap:break-word;
 	background-image: url(../images/pic1.jpg);
 	background-repeat: none;
 	background-position: center center;
 	position: relative;
 	padding: 50px 0; 
 }
